@model CustomerInvoicesListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
    var kendoVersion = "2014.1.318";
    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.rtl.min.css");
    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.default.min.css");
    Html.AppendCssFileParts($"~/lib/kendo/{kendoVersion}/kendo.common.min.css");
    Html.AppendScriptParts($"~/lib/kendo/{kendoVersion}/kendo.web.min.js");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Invoices })
}
<script src="js/kendo.all.min.js"></script>
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Invoices</h1>
    </div>
    <div class="page-body">
        
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="forumgroup-grid"></div>
                            
                            <script>
                        $(document).ready(function() {
                            $("#forumgroup-grid").kendoGrid({
                                columns: [
                                    {
                                        field: "InvoiceNum",
                                        title: "InvoiceNum",
                                        width: 300
                                    }, {
                                        field: "InvDate",
                                        title: "InvDate",
                                        type: "date",
                                        format: "{0:G}",
                                        width: 100
                                    }, {
                                        field: "Amount",
                                        title: "Amount",
                                        width: 200,
                                    }, {
                                        field: "Status",
                                        title: "Status",
                                        width: 200,
                                    }, {
                                        field: "Id",
                                        title: "Edit",
                                        width: 80,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="EditForumGroup/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ],
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("InvoicesList", "Customer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    pageable: true,
                                    serverPaging: false,
                                    pageSize: 5
                                },
                                pageable: {
                                    refresh: true,
                                    alwaysVisible: false,
                                    pageSizes: true
                                    
                                },
                                //details grid
                                //detailInit: detailInit,
                                scrollable: false,

                                
                            });
                        });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>