@model ProductDetailsModel
@if (Model.EmailAFriendEnabled)
{
    <button type="button" class="button-2 email-a-friend-button" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')">
        <span><i class="far fa-envelope"></i></span> @T("Products.EmailAFriend")
    </button>
}
