@using Microsoft.AspNetCore.Http
@using System.Net
@using Nop.Core
@model ShippingAddressModel
@inject IWebHelper webHelper
@inject IHttpContextAccessor httpContextAccessor
<div class="shipping">
    <div class="estimate-shipping">
        @{
            var ShipToList = Model.ShipTos.Select(x => new SelectListItem
            {
                Text = x.ShipTo1,
                Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeShipTo", new { ShipToId = x.Id }, webHelper.CurrentRequestProtocol), "returnurl", webHelper.GetRawUrl(httpContextAccessor.HttpContext.Request)),
                Selected = x.Id.Equals(Model.CurrentShipTo)
            });
            //BillToList.Add(new SelectListItem { Text = "Select Address", Value = null, Selected = true });
            <div class="title">
                <strong>Select ShipTo Address</strong>
            </div>
            <div class="shipping-options">
                <div class="inputs">
                    <label asp-postfix=":" title="Address"></label>
                    <select id="customerBillTo" name="customerBillTo" asp-items="@ShipToList" onchange="setLocation(this.value);" aria-label="@T("Currency.Selector.Label")"></select>
                    <nop-required />
                </div>
            </div>
            <div class="estimate-shipping-result"></div>
        }
    </div>
</div>